.btn {
    min-width: 80px;
    border-radius: 50px;
    font-size: 0.875rem;
    &.btn-primary {
        background-color: #000000;
        border-color: #000000;
    }
    &.btn-danger {
        background-color: #ffffff;
        border-color: #000000;
        color: #000000;
    }
    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}