<app-list-header [listHeaderModel]="headerModel"></app-list-header>
<div class="row">
    <div class="col-9">
        <h5>{{selectedContacts.length}} Selected</h5>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-primary" (click)="onAddClick(template)">Add</button>

        <button [disabled]="selectedContacts.length === 0 ? true : null" (click)="onDeleteClick()" type="button"
            class="btn btn-danger">Remove</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card-deck">
            <app-card *ngFor="let card of cardList;" [cardModel]="card" (cardClick)="onCardClick($event)"></app-card>
        </div>
    </div>
</div>



<ng-template #template>
    <app-add-contact (addContact)="onContactAdded($event)"></app-add-contact>
</ng-template>