.modal-header, .modal-footer {
    padding: 1rem 1.5rem;
}
.modal-body {
    padding: 1rem 1.5rem 1.5rem;
    font-size: 0.875rem;
    .form-group {
        label {
            font-size: 0.875rem;
        }
        input {
            height: 40px;
            font-size: 00.875rem;
            color: #000000;
            &:focus {
                box-shadow: none;
                border-color: cornflowerblue;
            }
        }
    }
}