/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 3.4375rem;
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    &.bg-dark {
        background-color: #000000!important;
        .nav-item {
            &.active {
                .nav-link {
                    background: #333333;
                }
            }
            .nav-link {
                padding: 1rem;
                &:hover {
                    background: #333333;
                }
            }
        }
    }
}
.btn {
    min-width: 80px;
    border-radius: 50px;
    font-size: 0.875rem;
    &.btn-primary {
        background-color: #000000;
        border-color: #000000;
        &:active {
            background-color: #000000!important;
            border-color: #000000!important;
        }
    }
    &.btn-danger {
        background-color: #ffffff;
        border-color: #000000;
        color: #000000;
        &:active {
            background-color: #ffffff!important;
            border-color: #000000!important;
            color: #000000!important;
        }
    }
    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }
    &:focus {
       box-shadow: none!important;
    }
}